.header {
    text-align: center;
    background-color: #FFFFFF;
    padding: 32px 16px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px 1px #7f8a87;
}

.header.appName {
    color: #A8DADC;
}

.header .title {
    font-size: 40px;
    padding-bottom: 16px; ;
    color: #84A59D;
}

.header .subtitle{
    color: #757983 ;
    font-size: 18px;
}

.header-img{
    position:inherit ;
    width: 30%;
    height: 30%;
    
}