.todo {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    position: relative;
}
.todo .todo-name {
    font-size: 18px;
    padding-bottom: 10px;
}
.todo .todo-description {
    font-size: 16px;
    padding-bottom: 6px;
    
}
.todo .todo-dueDate {
    font-size: 16px;
    padding-bottom: 6px;
}
.todo .todo-done {
    color: #074d26;
    font-size: 14px;
    font-weight: bold;
    position: inherit;
    top: 1px;
    left: 0;
}

.todo .todo-done::before {
    content: '✓';
}