.todo-form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F5CAC3;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.todo-form h4 {
    padding-bottom: 12px;
    color: #84A59D;
}


.todo-form form {
    display: flex;
    flex-direction: column;
}

.todo-form .form-input {
    border: 2px solid #84A59D; 
    padding: 10px;
    background: white;
    margin-bottom: 8px;
    width: 50%;
}

.todo-form .form-text {
    border: 2px solid #84A59D; 
    background: white;
    margin-bottom: 8px;
    padding: 10px;
}

.button-add {
    margin-top: 8px;
    padding: 10px;
    width: 25%;
    
}