.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-list .todo-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0px 16px;
}

.todo-list .total {
    position: inherit;
    padding-bottom: 16px;
    border-bottom: 1px solid #F5CAC3;
}


.todo-list .todo-row {
    width: 100%;
    padding: 16px 0;
    justify-content: space-between;
}

.todo-list .button-filter-all {
    background:linear-gradient(to bottom, #b3dceb 5%, #84A59D 100%);
    cursor:pointer;
	color:#ffffff;
    border-radius: 60px;
}

.todo-list .button-remove-all{
    background:linear-gradient(to bottom, #b3dceb 5%, #84A59D 100%);
    display: flex;
    justify-content: flex-end;
}

.todo-list .button-filter {
    width:5%; 
    height:5%;
    cursor:pointer;
    align-self: flex-end;
}
