@import './global.css';

body {
    background-color:  #F6BD60;
}

.app {
    display: block;
    margin: 16px 0 0 0;
    padding: 0;
    font-size: 18px;
}

.container {
    border-radius: 30px;
    width: 700px;
    min-height: 300px;
    margin: 0 auto;
    background-color: #F7EDE2;
    box-shadow: 5px 5px 25px 5px #7f8a87;
}

.content {
    padding: 16px 32px;
}

.button {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color:#84A59D;
	border-radius: 60px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}

.button:disabled {
	background-color: rgb(194, 194, 194);
}

/* QUERY */
@media only screen  
and (max-width: 700px)

{
	.container {
		width: auto;
		min-height: auto;
	}
}